<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.example.myproject.mapper.UserMapper">
    <resultMap id="BaseResultMap" type="com.example.myproject.model.UserDO">
        <id column="id" jdbcType="VARCHAR"  property="id"/>
        <result column="name" jdbcType="VARCHAR" property="name"/>
        <result column="phone" jdbcType="VARCHAR" property="phone"/>
        <result column="address" jdbcType="VARCHAR" property="address"/>
        <result column="ext_info" jdbcType="LONGVARCHAR" property="extInfo"/>
    </resultMap>

    <insert id="insertSelective" parameterType="com.example.myproject.model.UserDO">
        insert into
            my_table_01 (id,name,phone,address,ext_info)
        values
            (#{id},#{name},#{phone},#{address},#{extInfo})
    </insert>

    <select id="selectByPrimaryKey" resultMap="BaseResultMap">
        select * from my_table_01 where id = #{id,jdbcType=VARCHAR}
    </select>

    <select id="selectAll" resultType="com.example.myproject.model.UserDO">
        select * from my_table_01 order By `id` asc;
    </select>
</mapper>